<!DOCTYPE html>
<html>
<title>Contact</title>
<head>

</head>

<body>
  <div class="nav">
    <div class="container">
      <ul class="pull-left">
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="portfolio">Portfolio</a></li>
        <li><a href="http://www.randthought.wordpress.com/">Blog</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
      <ul class="pull-right">
        <li>Cody Perry</li>
      </ul>
    </div>
  </div>
  <div class="contact">
<div align="right">
  <h1>Connect with me:</h1>
    </div>
  <br>
    <div class="pictures">
  <a href="mailto:cp5337@rit.edu"><img src="http://i.imgur.com/NhZ0E6Y.png"></a>
  <a href="https://www.linkedin.com/pub/cody-perry/a5/329/293"><img src="http://i.imgur.com/9zkkoTb.png"></a>
<a href="https://github.com/CPerry26"><img src="http://i.imgur.com/x7DT5AC.png"></a>
  </div>
  </div>
  <br><br><br><br><br><br>
  <div class="copyright">
  <div>Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>, <a href="http://www.flaticon.com/authors/yannick" title="Yannick">Yannick</a>, <a href="http://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
  </div>
   <div class="footer">
    <div class="container">
      <div class="pull-right">
        <p>&copy; 2015 Cody Perry</p>
      </div>
    </div>
  </div>
  
  
  </body>
</html>