<!DOCTYPE html>
<html>
<title>Portfolio</title>
<head>

</head>

<body>
  <div class="nav">
    <div class="container">
      <ul class="pull-left">
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="portfolio">Portfolio</a></li>
        <li><a href="http://www.randthought.wordpress.com/">Blog</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
      <ul class="pull-right">
        <li>Cody Perry</li>
      </ul>
    </div>
  </div>
  
<div class="construction">
  <p>Under construction (making it look pretty). However, if you visit my <a href="http://www.github.com/CPerry26">Github</a> page, all of my projects and code can be found on there.</p>
  </div>
  
  
   <div class="footer">
    <div class="container">
      <div class="pull-right">
        <p>&copy; 2015 Cody Perry</p>
      </div>
    </div>
  </div>
  
  
  </body>
</html>